<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить заявку</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="text-center" th:insert="fragments/header :: header" >...</div>
<div class="container my-5">
    <h3>Добавление новой заявки</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/request/add}" th:object="${request}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="problem" class="col-form-label">Опишите проблему</label>
                            <input type="text" th:field="*{problem}" class="form-control" id="problem" placeholder="Problem">
                            <span th:if="${#fields.hasErrors('problem')}" th:errors="*{problem}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="problem" class="col-form-label">Выберите на кого оформить заявку</label>
                            <select th:field="*{occupant}" class="form-control">
                                <option th:each="item: ${occupants}" th:value="${item.id}"
                                        th:text="${item.surname + ' ' + item.name + ' ' + item.patronymic + ' (' + item.apartment.toString()+ ')'} "></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="problem" class="col-form-label">Назначьте сотрудника на выполнение заявки</label>
                            <select th:field="*{employee}" class="form-control">
                                <option th:each="item: ${employees}" th:value="${item.id}" th:text="${ item.specialization.name + ' - ' + item.surname + ' ' + item.name + ' ' + item.patronymic} "></option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Добавить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>